body,
html {
  margin: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  gap: 0.625%;
}

a:link,
a:visited,
a:focus {
  background: lightgreen;
}

a:active {
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  position: sticky;
  display: inline-block;
  border-bottom: 10px solid darkgreen;
  border: 1px solid black;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  flex: 1;
  outline: none;
  line-height: 3;
  color: black;
}

li a:hover {
  background-color: black;
  color: white;
}

.container {
    margin: 1rem;
    text-align: centre;
}

.logo {
  margin-top: 1px;
  margin-left: 0px;
  background-color: black;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  margin: 0;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  margin: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}